<h3>Edit View</h3>
<p>Designing your View layout enables you to personalise the way in which your resources and information can be displayed. For example if you wish to display only one of your Blog posts, click on the Blogs tab, then drag the Blog Post block into your View area. Remember to click Save as you add new elements to your View.</p>
<p>As you build up the content of your layout you can check on how it will look by clicking on 'Display my View'. Click on 'Back to create my View' to continue editing.</p>
