<h3>View Details</h3>
<p>Here you may give your view a title and description, to give people an idea of what your view is about.</p>
<p>You may also tag your view, to make it easier to find when you search your portfolio. If you tag a view with the word "profile", then it will appear in your sidebar, making it easy for you to reach from anywhere in the system.</p>
