<h3>Bewerk paginatoegang</h3>
<p>Hier stel je in wie jouw pagina ziet en wanneer dit mag. Standaard is het zo ingesteld dat alleen jij je pagina kan zien. Je kunt publiek, ingelogde gebruikers en vrienden toevoegen door te klikken op de juiste toevoegknop. Het is ook mogelijk individuele groepen of gebruikers toe te voegen door de zoekfunctie te gebruiken.</p>
<p>Het is ook mogelijk een datum toe te wijzen voor toegang, zodat uw pagina beschikbaar is voor een bepaalde periode, zoals bijvoorbeeld een lesjaar, of voor de duur van een project of zelfs voor een dag. Alle datums zijn optioneel. Neem je meer dan één regel op die van toepassing is op een gebruiker, dan is het genoeg dat de gebruiker voldoet aan één van deze regels om toegang tot de pagina.</p>
<p><strong>Voorbeeld:</strong> Henk is lid van de groep "The Coolpeople's Club". Als je hem vandaag toegang geeft tot je pagina en morgen de hele groep The Coolpeople's Club, waar Henk lid van is dan heeft hij dus vandaag en automatisch morgen toegang.</p>
