<h3>Plugin Administration</h3>
<p>Those profile fields marked as Mandatory must be included in a user account creation CSV file or populated by the user once they complete registration on the site. </p>
<p>Those profile fields marked as Public will be available for all logged in users to search upon and view within another user’s public profile area.</p>
