<h3>Profile Icons</h3>
<p>
    The Profile Icons area allows you to upload images that will appear beside
    your name in many places in the system.
</p>
<p>
    You may have up to 5 icons in your Profile Icons area at once. Images you
    upload need to be at least 16x16 pixels big. The images you upload count
    towards your file quota.
</p>
<p>
    Your default image will be shown to other people beside your name, and you
    may use the other images in views you create.
</p>
<p>
    <strong>Note:</strong> All of your profile icons are accessable by other
    logged in users even if they are not currently your default, so delete them
    if you do not want others to see them.
</p>
