<h3>Mijn vrienden</h3>
<p>De mijn vriendenpagina geeft een lijst weer met gebruikers die gemarkeerd zijn als jouw Vriend binnen de site. Ook is zichtbaar tot welke pagina's van deze vrienden je toegang hebt gekregen.</p>
<p>Gebruik het rolmenu om te kiezen tussen je bestaande vrienden of de lijst met lopende vriendschapsverzoeken.</p>
<p>Om iemand aan je vriendenlijst toe te voegen, zal je het profiel van de betreffende persoon moeten bekijken, ofwel via een pagina, groep of een zoekresultaat. Afhankelijk van het vriendschapsbeheer van de betreffende persoon kan je automatisch geaccepteerd worden als vriend of moet je een vriendschapsverzoek insturen.</p>
<p>Wanneer je een vriendschapsverzoek verstuurt, is het mogelijk een kort introductie bericht mee te sturen. Dit kan van belang zijn wanneer je voor jezelf een voorkeursnaam bepaald hebt die je wil gebruiken.</p>
<p>Wanneer je een vriendschapsverzoek accepteert, wordt de betreffende persoon toegevoegd aan je vriendenlijst en jij komt automatisch op zijn of haar lijst. Wanneer je iemand van je vriendenlijst verwijdert of een vriendschapsverzoek afwijst, word je ook verwijderd van de lijst van de betreffende persoon. Wanneer je iemand van je vriendenlijst verwijdert, zal de betreffende persoon hiervan automatisch bericht ontvangen.</p>
<p>Een gebruiker kan je altijd opnieuw een vriendschapverzoek verzenden, ook als je dit verzoek eerder afgewezen hebt.</p>
<p>Wanneer je een pagina van een andere gebruiker probeert te bekijken, krijg je de volgende opties te zien onderaan de pagina.</p>
<h4>Geef feedback</h4>
<p>
  Je kunt een gebruiker van feedback voorzien op zijn of haar pagina, of een artefact hierbinnen. Je kunt je feedback publiekelijk zichtbaar maken of Privé houden. Publieke feedback is zichtbaar voor andere gebruikers met toegang tot de pagina. Privé feedback is alleen zichtbaar voor de eigenaar van de pagina. De pagina-eigenaar kan ervoor kiezen jouw publieke feedback alsnog privé te maken, maar hij of zij kan niet uw keuze voor privé-weergave omzetten in een publieke.</p>
<p>Leraren kunnen een bestand bijvoegen met hun feedback zodat deze ter beoordeling voorgelegd kan worden bij een cursus gebaseerde Community.</p>
<h4>Meld ongepaste inhoud</h4>
<p>
  Mocht je inhoudelijk materiaal zien op een pagina waarvan je denkt dat het beledigend of ongepast is, dan kun je dit melden bij de site-beheerder door gebruik te maken van het meld ongepaste inhoud-formulier. Neem wel de context in overweging waarbinnen de betreffende inhoud geplaatst is alvorens hiervan melding te doen.</p>
<h4>Afdrukken</h4>
<p>
  Met de afdruk-optie kun je een printervriendelijke versie van de pagina of het artefact tonen, zodat je deze kan afdrukken.</p>
<h4>Voeg pagina toe aan volglijst </h4>
<p>
  Met de optie voeg pagina toe aan volglijst ontvang je bericht wanneer er een wijziging of bijwerking is aan een pagina.</p>
<h4>Voeg hele pagina-inhoud toe aan volglijst</h4>
<p>
  Met de optie voeg hele pagina-inhoud toe aan volglijst ontvang je een bericht wanneer er een wijziging of bijwerking is aan een pagina of aan een artefact van die pagina.</p>
