<h3>Blader in mijn bestanden</h3>
<p>Als je een bestand uit je lijst met geüploade bestanden als bijlage bij een blogbericht wil voegen, dan kun je door je opslagruimte bladeren op zoek naar het juiste bestand.</p>
<p>Navigeer door je bestandsmappen en voeg het juiste bestand als bijlage toe. De map &#8216;blogfiles&#8217; bevat alle bestanden die al aan een bericht toegevoegd zijn.</p>
