<h3>Upload bestand</h3>
<p>Je kunt een willekeurig aantal bestanden als bijlage bij een bericht toevoegen. Bestanden die bij een bericht als bijlage gevoegd worden, worden automatisch bewaard in je opslagruimte in een map die  &#8216;blogfiles&#8217; heet en zal je gebruikte hoeveelheid schijfruimte verhogen.</p>
<p>Alls je een bestand uploadt en dan het bericht annuleert of je sluit de blogpagina zonder bewaren, dan zullen deze bestanden uit je opslagruimte verwijderd worden.</p>
<p>Als je een afbeelding upload naar je blogbericht, dan kun je de Afbeeldingsknop van je HTML-editor gebruiken om de afbeelding in te bedden in je bericht. Je zult dan de grootte, uitlijning, rand en ruimte rond de afbeelding kunnen instellen via de instellingsvelden.</p>
<p>Je kunt ook afbeeldingen inbedden vanuit andere websites. Geef dan de URL van de afbeelding in of  &#8216;sleep&#8217; de afbeelding van de website in de HTML-editor. Zorg er wel voor dat je over het kopiëerrecht van de afbeelding beschikt.</p>
<p>Voor het beste resultaat zijn afbeeldingen best niet groter dan 400x400 pixels en hebben minder dan 5 pixels vrije ruimte aan elke kant.</p>
