<h3>Gebruikersnaam/Wachtwoord Herinnering</h3>
<p>Ben je je gebruikersnaam of wachtwoord vergeten dan kan de site je een bericht sturen met daarin je gebruikersnaam en een link waarop je kan klikken om het bijhorend wachtwoord te resetten. Voer je gebruikersnaam of primair e-mailadres in en klik 'Verstuur verzoek'. Je ontvangt automatisch een e-mail. Om je wachtwoord te wijzigen volg je de link in de e-mail om je verzoek tot de reset te bevestigen.</p>
<p><strong>Waarschuwing:</strong> Als je een ongevraagde wachtwoordwijzigingse-mail ontvangt zou het een vals bericht kunnen zijn. Het is in zo'n geval best geen links aan te klikken.</p>
