<h3>Registratie</h3>
<p>Als je e-Portfolioaccount niet aangemaakt is door je organisatie of instituut, zal je jezelf moeten registreren. In dat geval vul je je gegevens hieronder in en verstuur je het registratieformulier. Er zal een e-mail naar je adres gestuurd worden met daarin een klikbare link. Volg deze link om je account te bevestigen en log in bij het systeem. Mocht je deze e-mail niet binnen de 24 uur ontvangen controleer dan alstublieft de map ongewenste berichten van je spamfilter. Mocht je problemen ondervinden bij het registreren neem contact op met je site-beheerder.</p>
<p><strong>Merk op:</strong> De link in de e-mail is slechts 24 uur geldig. Daarna zul je bovenstaande stappen moeten herhalen.</p>
<p>Er zal je vervolgens gevraagd worden om eventuele verplichte velden van het profiel in te vullen en je hebt de mogelijkheid om een profielfoto te uploaden. Eens geregistreerd zul je je gebruikersnaam en wachtwoord (en mogelijk ook je organisatie/instelling) moet invullen om in te kunnen loggen bij jouw portfolio.</p>
<p><strong>Merk op:</strong> Deze site vereist het gebruik van een recente web browser, zoals: Internet Explorer versie 6.0, Firefox 1.5, Safari 2, of Opera 9; of hoger. Om Mahara te gebruiken is het verder nodig dat je web browser cookies accepteert.</p>
