<h3>Wachtwoorden</h3>
<p>Om je wachtwoord te wijzigen, geef je eerst je huidig wachtwoord en dan het nieuwe wachtwoord in de twee andere formuliervelden.</p>
<p>Je wachtwoord moet minstens zes tekens tellen. Er moet minstens één cijfer en twee letters inzitten. Wachtwoorden zijn hoofdlettergevoelig en moeten verschillend zijn van je gebruikersnaam..</p>
