<h3>Toon knoppen om kolommen toe te voegen en verwijdern wanneer e een pagina  bewerkt</h3>
<p>Je kunt een rij met knoppen tonen <img src="/theme/default/static/images/btn_addcolumn_left.png" alt="Toevoegen"> <img src="/theme/default/static/images/btn_removecolumn.png" alt="Verwijderen"> in bewerk paggina. Met deze knoppen kun je kolommen toevoegen of verwijderen voor deze pagina.</p>
<p>Zelfs als dit niet ingeschakeld is, kun je het aantal kolommen wijzigen via pagina-opmaak van je pagina.</p>
