<h3>Controle vriendschappen</h3>
<p>Kies of andere gebruikers jou aan je vriendenlijst mogen toevoegen. Als je aan een vriendenlijst toegevoegd bent, dan wordt de eigenaar van die lijst toegevoegd aan jouw vriendenlijst. Wanneer je iemand verwijderd van jouw vriendenlijst, dan wordt je ook verwijderd van hun lijst. Kies één van volgende opties:</p>
<p><strong>Niemand mag me als vriend toevoegen:</strong> niemand mag je als vriend toevoegen aan hun lijst.</p>
<p><strong>Nieuwe vrienden moeten door mij geauthoriseerd worden:</strong> jouw authorisatie is nodig voor je aan iemands lijst kunt toegevoegd worden. Als je hun verzoek goedkeurt, dan worden ze ook toegevoegd aan jouw lijst.</p>
<p><strong>Nieuwe vrienden worden automatisch goedgekeurd:</strong> iedereen mag jou toevoegen aan hun lijst.</p>
