<h3>HTML-editor</h3>
<p>Er is een HTML-editor die je op sommige plaaten op de site kunt gebruiken. Het is een ‘What you see is what you get’ (WYSIWYG) editor. Hiermee kun je je tekst opmaken, zoals vette of cursieve tekst. Als de editor af staat kun je alleen platte tekst invoeren.</p>
<p><strong>Opmerking:</strong> De HTML-editor kan er lichtjes anders uitzien en anders werken in verschillende browsers.</p>
