<h3>Berichten van andere gebruikers</h3>
<p>Gebruik deze instelling om in te stellen van wie je berichten wil krijgen.</p>
<p>Gebruik de instellingen in activiteitsvoorkeuren om te kiezen hoe je die berichten wil krijgen..</p>
<p><strong>Opmerking:</strong> Deze beperkingen gelden niet voor site-beheerders en leraren.</p>
