<h3>Groeptype</h3>
<p>Je kunt uit verschillende opties kiezen om te bepalen hoe andere gebruikers lid kunnen worden van jouw groep.</p>

<h4>Open lidmaatschap</h4>
<p>Als je het groeptype op open lidmaatschap zet, dan kan elke gebruiker lid worden door de pagina van je groep te bezoeken en op de knop lid worden te klikken.</p>

<h4>Lidmaatschap aanvragen</h4>
<p>Je groeptype instellen als lidmaatschap aanvragen betekent dat elke gebruiker kan vragen lid te worden van je groep, maar de eigenaar van de groep kan kiezen om het lidmaatschap te aanvaarden of af te wijzen. De aanvragende gebruiker zal onmiddellijk een melding krijgen van je beslissing.</p>

<h4>Enkel op uitnodiging</h4>
<p>Je groeptype instellen als enkel op uitnodiging betekent dat enkel gebruikers naar wie je een uitnodiging gestuurd hebt zullen kunnen lid worden van je groep.</p>

<h4>Gecontroleerd lidmaatschap</h4>
<p>Gecontroleerd lidmaatschap is enkel beschikbaar voor leraren en beheerders. Je kunt hiermee rechtstreeks het lidmaatschap van gebruikers toevoegen en verwijderen.</p>
<p>Dit is ontworpen om te gebruiken in een cursusgebaseerde groep waar het lidmaatschap gedefinieerd wordt door een extern systeem (zoals een aanmeldingssysteem van een instituut) en je zou dat schema willen repliceren in je groep.</p>
<p>Gebruikers kunnen zichzelf niet verwijderen van een gecontroleerde groep.</p>
