<h3>Publiek zichtbare groep</h3>
<p>Als je hier ja antwoordt, dan zullen de meeste secties van je groep zichtbaar zijn voor iedereen die je groep bezoekt - ook mensen die geen account hebben op deze site.</p>
<p>Iedereen zal de lijst met groepsleden kunnen zien en alle discussies in de forums. Enkel groepsleden kunnen echter berichten posten in de forums.</p>
<p>Je bestandssectie en alle bestanden daarin zullen echter privé blijven, ongeacht deze instelling.</p>
