<h3>Automatisch gebruikers toevoegen aan groepen</h3>
<p>Als je ja kiest, dan zal iedereen die zich inschrijft op deze site lid worden van deze groep.</p>
<p>Afhankelijk van het groeptype kunnen gebruikers toch nog de mogelijkheid hebben de groep te verlaten.</p>
