<h3>Geheime URL</h3>
<p>Als je niet wil dat iedereen jouw pagina kan zien, maar je wil ze toch tonen aan enkele mensen die niet geregistreerd zijn op deze site, dan kun je je pagina publiek zichtbaar maken via een speciale link die moeilijk te raden is. Je kunt je vrienden dan het bestaan van deze pagina laten weten door de link te plakken in een e-mail naar hen.</p>
