<h3>Tags</h3>
<p>Je kunt tags toevoegen aan je pagina's. Met tags kun je beschrijvende labels aan pagina's toevoegen die je dan kunt gebruiken om ze te ordenen en om ze te zoeken.</p>
<p>Om meerdere tags te associëren met een pagina moet je de tags ingeven in een kommagescheiden lijst. Bijvoorbeeld - 'Opdracht, Semester2, Economie’.</p>
<p>Klikken op <strong>Toon mijn tags</strong> zal een lijst genereren met tags die je vroeger al eens gebruikt hebt in je portfolio en het aantal keer je ze gebruikt hebt. Er op klikken zal de tag toevoegen voor deze pagina of verwijderen als je voor deze pagina de tag al toegevoegd hebt.</p>
