<h3>Authenticatiemethode</h3>
<p>Alle gebruikers hebben één primaire manier om zich te authenticeren bij Mahara. In sommige gevallen is er ook een tweede manier, maar meestal slechts één.</p>
<p>Hier kun je kiezen welk mechanisme deze gebruiker zal gebruiken om zich bij Mahara te authenticeren. Meestal moet je dit niet wijzigen - het zal voor jou correct ingesteld zijn.</p>
<p>In sommige gevallen kan het nodig zijn de authenticatiemethode te wijzigen, bijvoorbeeld als je vroeger een LDAP-server gebruikte, maar die kent de gebruiker niet meer. Dan kun je de account verder blijven gebruiken door hier een andere methode, zoals 'intern (geen instituut)' te kiezen. De gebruiker zal dan rechtstreeks in Mahara kunnen aanmelden zonder de LDAP-server te gebruiken. Je zult wel het 'wachtwoord opnieuw instellen'-veld moeten gebruiken om een nieuw initieel wachtwoord in te stellen.</p>
