<h3>Authenticatieplugin</h3>
<p>Hier kun je kiezen hoe gebruikers van dit instituut zullen authenticeren op deze site. Instituten moeten minstens één authenticatiemethode hebben..</p>
<p>De <strong>interne</strong> authenticatieplugin controleert gebruikersnamen/wachtwoorden in de databank van de site. Gebruikers moeten een account hebben vooraleer dit werkt. Die kun je aanmaken via het registratieformulier, of door <a href="add.php" target="_blank">Gebruiker toevoegen</a> te kiezen of door het scherm <a href="uploadcsv.php" target="_blank">Gebruikers met CSV toevoegen</a>.</p>
<p>De <strong>geen</strong> authenticatiemethode laat iedereen binnen. Gebruikers kunnen gelijk welke gebruikersnaam en wachtwoord kiezen. Deze instelling mag alleen gebruikt worden om te testen!</p>
<p>De andere authenticatiemethoden authenticeren meestal tegenover een exerne bron, zoals een LDAP-server of een andere applicatie. Ze hebben hun eigen instellingen die je kunt wijzigen via een popupsscherm wanneer je ze toevoegd.</p>
<p>Een instelling die bij alle authenticatieplugins terugkomt is of accounts automatisch aangemaakt moeten worden binnen Mahara wanneer een gebruiker voor de eerste keer inlogt(tegenover de accounts aangemaakt door de systeembeheerder waardoor de gebruiker met die gegevens kunnen inloggen).</p>
