<h3>Geblokkeerde velden</h3>
<p>Elk instituut kan configureren welke velden van het profiel niet door de gebruiker gewijzigd kunnen worden. Voorbeelden van velden die geblokkeerd kunnen worden voor de veiligheid en voor correcte identificatie door het systeem zijn voornaam, achternaam en leerling ID.</p>
