<h3>Registratie toegelaten?</h3>
<p>Als deze instelling is ingeschakeld, dan zullen gebruikers voor deze site kunnen registreren via het registratieformulier.</p>
<p>Als er meer dan één instituut deze instelling ingeschakeld heeft, dan zal de gebruiker via een rolmenu kunnen kiezen voor welk instituut die zich wil regeistreren.</p>
<p>Als er geen enkel instituut deze instelling ingeschakeld heeft, dan kunnen gebruikers zich niet registreren via het registratieformulier.</p>
<p>Als je gebruikers voor dit instituut wil authenticeren via een mechanisme als LDAP of SSO vanuit een andere appllicatie, dan moet je deze instelling uitschakelen. Je moet ze ook uitschakelen als je het aanmaken van gebruikers wil kunnen controleren via de <a href="add.php" target="_blank">Gebruiker toevoegen</a> of <a href="uploadcsv.php" target="_blank">Gebruikers toevoegen met CSV</a> -pagina's.</p>
