<h3>Thema</h3>
<p>Het thema dat ingelogde gebruikers die lid zijn van dit instituut zullen zien. Als <strong>Site-standaard</strong> is geselecteerd, dan zal het thema van het instituut mee wijzigen als de sitebeheerder het standaard thema wijzigt.</p>
