<h3>Standaard lidmaatschapsperiode</h3>
<p>Je kunt instellen hoe lang gebruikers lid blijven van dit instituut. Na deze periode zullen de gebruikers van het instituut verwijderd worden.</p>
<p>Gebruiker zullen een e-mail krijgen voor dat moment, waarin staat dat ze kortelings verwijderd zullen worden.</p>
