<h3>Wachtwoord</h3>
<p>Je wachtwoord moet uit minstens zes tekens bestaan. Er moeten minstens één cijfer en minstens twee letters inzitten. Wachtwoorden zijn hoofdlettergevoelig en moeten verschillend zijn van je gebruikersnaam.</p>
<p><strong>Waarschuwing:</strong> Toon om veiligheidsredenen je wachtwoord nooit aan een andere gebruiker. De site-beheerder kan je wachtwoord achterhalen.</p>

