<h3>Waarschuwingstijd voor niet actief/verlopen van de account</h3>
<p>Indien ingesteld zal deze tijdsspanne voor het verlopen van de account een waarschuwingsbericht naar de gebruiker gestuurd worden. Deze tijd kan opgegeven worden in dagen, weken, maanden, jaren of geen einddatum als gebruikers geen bericht moeten krijgen voor hun account verloopt of als niet actief wordt gemarkeerd.</p>
