<h3>Stuur wekelijks updates</h3>
<p>Als je &quot;stuur wekelijks updates&quot; aanvinkt, dan zal Mahara automatisch een update sturen naar mahara.org met informatie over je site.</p>
<p>De gestuurde informatie is louter statistisch - er wordt geen persoonlijke informatie over je gebruikers gestuurd. Je kunt de informatie die gestuurd wordt controleren voor je je Mahara site registreert (wat je kunt doen vanuit de admin startpagina).</p>
