<h3>Standaard tijd account niet actief</h3>
<p>Indien ingesteld zullen gebruikers die niet inloggen gedurende deze tijd als 'niet actief' beschouwd worden en niet meer kunnen inloggen. Deze tijd kan opgegeven worden in dagen, weken, maanden en jaren of geen einddatum wanneer gebruikers niet automatisch uitgeschakeld moeten worden.</p>
