<h3>Taal</h3>
<p>De geselecteerde taal zal de standaard taal zijn voor menu-items en context help in je Mahara-installatie. Wanneer er meerdere taalpakketten op je Mahara-site geïnstalleerd zijn, dan zullen gebruikers hun taalvoorkeur kunnen wijzigen via hun accountinstellingen.</p>
