<h3>Pad naar clam</h3>
<p>Het bestandssysteempad naar <code>clamscan</code> of <code>clamdscan</code> voor viruscontrole. Er wordt vanuitgegaan dat wanneer clam niet werkt een bestand als een virus behandeld moet worden. Er word dan een quarantijnemap in je Mahara-installatie gemaakt.</p>
