<h3>Gebruikers toelaten bij meerdere instituten</h3>
<p>Indien ingeschakeld kunnen gebruikers lid zijn van meerder instituten tegelijk. Gebruikers zullen dan gelijk wanneer een lidmaatschap tot een instituut kunnen aanvragen, maar de instituten moeten hun aanvraag dan wel goedkeuren. Instituten zullen dan ook gebruikers kunnen uitnodigen waarop de gebruikers dan kunnen ingaan.</p>
