<h3>Artefact pagina niet actief</h3>
<p>Met de artefact pagina niet actief optie kun je bepalen na hoeveel tijd zonder activiteit een artefact of pagina beschouwd wordt als niet actief. Deze tijd kan ingesteld worden in dagen, weken, maanden en jaren of je kunt geen einddatum kiezen als je het niet actief zijn niet gedetecteerd hoeft te worden.</p>
