<h3>Standaard levensduur account</h3>
<p>Indien ingesteld zullen account verlopen na deze tijdsspanne sinds ze gecreëerd werden. Wanneer een gebruikersaccount verloopt, dan kan de gebruiker niet meer inloggen. Deze tijd kan opgegeven worden in dagen, weken, maanden, jaren of geen einddatum als de accounts nooit mogen verlopen.</p>
