<h3>Thema</h3>
<p>Wanneer er meerdere thema's geïnstalleerd zijn, zul je via een rolmenu kunnen kiezen welk thema je wil gebruiken voor je Mahara-installatie. Dit thema zal getoond worden aan niet-ingelogde gebruikers.</p>
<p>Instituten kunnen ook een standaardthema instellen dat aan hun gebruikers getoond wordt wanneer die ingelogd zijn. Je kunt thema's voor instituten instellen in de <a href="../users/institutions.php">Beheer instituten</a>-sectie.
