<h3>Sessie levensduur</h3>
<p>Om veiligheidsredenen zal een gebruiker na een bepaalde tijd zonder activiteit afgemeld worden.  Het sessie levensduurveld bepaalt hoeveel minuten een na de laatste activiteit een gebruiker uitgelogd wordt.</p>
