<h3>Publiek zichtbare groepen</h3>
<p>Als je gebruikers wil toelaten pagina's te maken voor mensen die geen account hebben op deze site, zet deze optie dan op 'Iedereen'.</p>
<p>Van een publieke groep zal iedereen die je site vindt (ook zoekrobots) de groep &quot;info&quot; pagina, de ledenlijst en de forumdiscussies kunnen zien. Zonder account kun je echter geen andere acties doen, zoals berichten posten of gebruikersprofielen bekijken.</p>
