<h3>Publieke pagina's toelaten</h3>
<p>Als je wil dat gebruikers pagina's maken die zichtbaar zijn voor niet-ingelogde gebruikers, dan moet je deze instelling op 'ja' zetten. Publieke pagina's kunnen alleen gewijzigd worden door de eigenaar.</p>
