<h3>Viruscontrole</h3>
<p>Als je wil dat alle geüploade bestanden door ClamAV virusscan gecontroleerd worden, schakel dan deze optie in.</p>
<p>Je moet ClamAV geïnstalleerd hebben op je server. Veel Linux distributies hebben <code>clamav</code> pakketten, of je kunt het downloaden van de <a href="http://www.clamav.net/">ClamAV website</a>.
