<h3>Zoekplugin</h3>
<p>Wanneer er naast de standaard zoekfunctie een extra plugin om te zoeken geïnstalleerd werd, dan kun je hier kiezen welke zoekrobot gebruikt zal worden voor het doorzoeken van de site.</p>

