<h3>Ingebedde inhoud: vertrouwde sites</h3>
<p>Om gevaarlijke code van andere sites te stoppen worden de &lt;object&gt; en &lt;embed&gt; tags uit HTML-inhoud gefilterd voor die getoond wordt. Met deze instelling kunnen gebruikers code van bepaalde sites inbedden door ze te plakken in hun pagina's.</p>
