<h3>My Files</h3>
<p>Your files area is a repository for folders and files to use within your portfolio.</p>
<p>The number of files you may upload into your files area is dependant on your set file storage limit which is displayed in the quota box on the right of the screen.</p>
<p>You can use drag and drop to organise your files and folders.</p>
<p>For security reasons your Site Administrator may restrict some file types from being uploaded to the system. </p>
