<h3>Tags</h3>
<p>Je kunt tags toevoegen aan artefacten en pagina's die je binnen Mahara maakt. Met tags kun je beschrijvende labels toevoegen aan artefacten en pagina's en zo een index maken gebaseerd op tags.</p>
<p>Om meerdere tags te associëren met een artefact of een pagina kun je een komma gescheiden lijst invoeren. Bijvoorbeeld  - 'Opdracht,Semester 2,Economie'.</p>
<p>Klikken op <b>Toon mijn tags</b> zal een lijst genereren met alle tags die je vroeger al hebt gebruikt in je portfolio en het aantal keer je ze al hebt gebruikt. Het klikken op een bestaande tag zal die toevoegen aan de taglijst voor het artefact of pagina die je aan het maken of bewerken bent.</p>
<p>Als je <b>Doorzoek mijn portfolio</b> gebruikt, dan kun je alle artefacten en pagina's vinden waar je ooit een bepaalde tag gebruikt hebt. Zo kun je de artefacten in je portfolio indexeren</p>
