<h3>Mijn Blogs</h3>
<p>Een blog is logboek-achtige pagina waarmee je je gedachten en ervaringen kunt bijhouden.</p>
<p>Standaard kunnen je blogs enkel door jou gezien worden. Als je een blog aan een pagina toevoegd, dan kan je anderen het recht geven die te lezen en commentaar te posten.</p>
<p>Je moet een blog eerst aanmaken voor je er berichten kunt in posten. Je kunt zoveel verschillende blogs aanmaken als je maar wil.</p>
