<h3>Template Category Menu</h3>
<p>The templates available on the site are divided into number of Categories. Select a specific Category to view those  Templates listed under that description or choose All Templates to view all  available templates.</p>
