<h3>Login</h3>
<p>Your login details will either be the username and password you entered during registration or others assigned by the site administrator.</p>
<p>Click <a href="forgotpass.php">password reminder</a> to request a password reset at any time.</p>
<p>For your security, you will be automatically logged out of the system after a period of inactivity. You will be prompted to log in again.</p>
<p><strong>Merk op:</strong> This site requires a current web browser, such as: Internet Explorer version 6.0, Firefox 1.5, Safari 2, or Opera 9; or above. To use Mahara you must have cookies enabled on your browser.</p>
