<h3>Pending Membership Requests</h3>
<p>Depending on which membership mode you have  selected for your Communities, Pending Memberships Requests will be listed  here. You will also be notified of new  requests via Notifications. When you Accept  or Decline each membership request, the user will be notified of your decision. </p>
