<h4>Place feedback</h4>
<p>Public feedback may be seen by other users with access to the view, while private feedback may only be read by the view owner. A view owner can make public feedback private.</p>
<h4>Report objectionable material</h4>
<p>You can report material you believe to be objectionable to the Site Administrator.</p>
<h4>Print</h4>
<p>The Print option will allow you print a printer friendly version of the view.</p>
<h4>Add View to Watchlist</h4>
<p>If a view is on your watchlist you receive a notification when the author changes the view.</p>
