<h3>Email address</h3>
<p>Although the email address given during registration is your primary contact address, you may have several email addresses listed on the site. Use any of your validated addresses in a profile.</p>
<p>To add new addresses, click <a onclick="email_new(); return false;" href="">Add email address</a>. When you save your profile a message is sent to the new address. Click the link in the message to validate.</p>
<p><strong>Note:</strong> The email link is only valid for 24 hours. After this you must repeat the process.</p>
