<h3>Mijn Groepen</h3>
<p>Hier zie je een overzicht van alle groepen waaraan je op enige wijze gerelateerd bent.</p>
<p>Je ziet je eigen groepen en de groepen waarvan je lid bent, maar ook groepen waarvoor je bent uitgenodigd.</p>
<p>In een groep kunnen meningen gedeeld worden met anderen bij groepsdiscussies en kun je deelnemen aan activiteiten.</p>
