<h3>Quota</h3>
<p>You have been allocated a set amount of storage that you may use to upload files to the system. If you are getting close to your quota limit, talk to your teacher or administrator about having your limit increased.</p>
