<h3>Tags</h3>
<p>You can add Tags to Artefacts and Views you create within Mahara.  Tags allow you add descriptive labels to Artefacts and Views and create an index of Tag classifications.</p>
<p>To associate multiple Tags to an Artefact or View, separate each Tag entry with a comma. For example – ‘Assessment, Semester 2, Management’.</p>
<p>Clicking on <b>Show my tags</b> will generate a list of those Tags you have previously used within your portfolio and the number of times they have been entered.  Clicking on an existing Tag will add it to the Tag list for the Artefact or View you are currently creating or editing.</p>
<p>Using <b>Search My Portfolio</b> you can find all of the Artefacts and Views you have associated with a particular Tag, thereby creating a filing system or index for your portfolio.</p>
