<h3>Meldingen</h3>
<p>Dit is een lijst met systeemactiviteiten of gebeurtenissen die voor jou van toepassing zijn. Via de voorkeurenpagian van activiteiten kun je kiezen hoe je meldingen daarvoor kunt krijgen. Als je een melding hebt gelezen, kun je die markeren als gelezen om van je lijst verwijderd te worden.</p>
<p><strong>Opmerking:</strong> Gelezen meldingen zullen automatisch verlopen en verwijderd worden van je lijst na 60 dagen.</p>
