<h3>Instellingen</h3>
<p>Met de instellingspagina kun je configureren hoe jij de site gebruikt en hoe je wil gecontacteerd worden met belangrijke informatie en meldingen.</p>
<p>Accounts zullen automatisch verlopen na een door je site-eheerder bepaalde tijd. Je zult hiervan op voorhand verwittigd worden en uitgelegd krijgen hoe je je portfolio kunt bewaren.</p>
<p><strong>Opmerking:</strong> Het is belangrijk om elke wijziging te bewaren met de knop onderaan de sectie.</p>
<p><strong>Waarschuwing:</strong> Je account zal geblokkeerd worden als je de gebruiksvoorwaarden overtreedt. Je zult hiervan dan op de hoogte gebracht worden wanneer je probeert in te loggen. Contacteer je site-beheerder als je hierover vragen hebt..</p>
